	<li class='guestbook' data-no='<%=no%>'>
		<span style='background:url(${pageContext.request.contextPath }/assets/images/user.png) no-repeat' class='profile'></span>
		<a href='' data-no='<%=no%>' id='del_btn' class='profile'>
		<img src='${pageContext.request.contextPath }/assets/images/delete.png'/></a>
		<strong class='guestbook_tit'><%=name%></strong>
		<p class='guestbook_content'><%=vo.contents.replace(/\n/gi, "<br>")%></p>
		<strong></strong>
		<a href='#' data-no='<%=no%>'>삭제</a>
	</li>;